@model Harmic1.Models.TbMenu

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thêm Menu</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Xóa Menu</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                       
                            <div class="card-body">
                                <div class="form-group">
                                    <label for=" exampleInputEmail">Tiêu đề:</label>
                                    @Html.DisplayFor(Model => Model.Title)
                                </div>

                                <div class="form-group">
                                    <label for=" exampleInputEmail">Alias:</label>
                                    @Html.DisplayFor(Model => Model.Alias)
                                </div>
                                <div class="form-group">
                                    <label for=" exampleInputEmail">Mô tả:</label>
                                    @Html.DisplayFor(Model => Model.Levels)
                                </div>
                                <div class="form-group">
                                    <label for=" exampleInputEmail">Mức:</label>
                                    @Html.DisplayFor(Model => Model.Levels)
                                </div>
                                <div class="form-group">
                                    <label for=" exampleInputEmail">Menu cha:</label>
                                    @Html.DisplayFor(Model => Model.Levels)
                                </div>
                                <div class="form-group">
                                    <label for=" exampleInputEmail">Hiện</label>
                                    @Html.DisplayFor(Model => Model.IsActive)
                                </div>
                                <form action="Delete" method="post" class="d-inline">
                                    <input type="hidden" asp-for="MenuId" />
                                    <div class="d-flex align-items-center gap-2">
                                        <button type="submit" class="btn btn-danger">
                                            <i class="bi bi-trash"></i> Xóa
                                        </button>
                                        <a asp-action="Index" class="btn btn-primary">
                                            <i class="bi bi-arrow-left-circle"></i> Quay lại
                                        </a>
                                    </div>
                                </form>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
